<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802183520437-s2jtc4qjb16bbnuloar2cpmktg8m1c10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802183520437-s2jtc4qjb16bbnuloar2cpmktg8m1c10</string>
	<key>API_KEY</key>
	<string>AIzaSyCIpvmakMnEag9hEb1aBCp8CKzFQ1QBr9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>802183520437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>my-project-66697</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-66697.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802183520437:ios:eaf8d22c93f661ffd7defc</string>
</dict>
</plist>